[Unit]
Description=snmp agent
After=network.target mysql.service
After=syslog.target

[Install]
WantedBy=multi-user.target
Alias=snmp agent.service

[Service]
User=root
Group=root
Type=forking
# Start main service
ExecStart={{ proxy.openfalconagent_path }}/snmp-collector/control start 
ExecStop={{ proxy.openfalconagent_path }}/snmp-collector/control stop
Restart=always