[Unit]
Description=Open-falcon {{ module }}
After=network.target mysql.service
After=syslog.target

[Install]
WantedBy=multi-user.target
Alias=openfalcon-{{ module }}.service

[Service]
User=root
Group=root
Type=forking
# Start main service
ExecStart={{ INSTALL_PATH }}/{{ module }}/control start 
ExecStop={{ INSTALL_PATH }}/{{ module }}/control stop
Restart=always
