[Unit]
Description=Open-falcon hbs
After=network.target mysql.service
After=syslog.target

[Install]
WantedBy=multi-user.target
Alias=openfalcon-hbs.service

[Service]
User=root
Group=root
Type=forking
# Start main service
ExecStart={{ INSTALL_PATH }}/hbs/control start 
ExecStop={{ INSTALL_PATH }}/hbs/control stop
Restart=always
