[Unit]
Description=MagicStack
After=syslog.target network.target libvirtd.service

[Service]
Environment=LIBGUESTFS_ATTACH_METHOD=appliance
#Type=notify
NotifyAccess=all
TimeoutStartSec=0
Restart=always
User=root
ExecStart={{ magicstackserver.magcistack_server_path }}/run_server.py

[Install]
WantedBy=multi-user.target
