{
    "debug": true,
    "hostname": "",
    "ip": "",
    "plugin": {
        "enabled": false,
        "dir": "./plugins",
        "git": "https://github.com/open-falcon/plugin.git",
        "logs": "./logs"
    },
    "plugin_sr": {
        "enabled": {{ agent.plugin_enable }},
        "plugins": [
                "process"
		],
        "logs": "./logs"
    },
    "heartbeat": {
        "enabled": true,
        "addr": "{{ agent.heartbeat_addr }}:{{ agent.heartbeat_addr_port }}",
        "interval": 60,
        "timeout": 1000
    },
    "transfer": {
        "enabled": true,
        "addrs": [
            "{{ agent.transfer }}:{{ agent.transfer_port }}"
        ],
        "interval": 60,
        "timeout": 1000
    },
    "http": {
        "enabled": {{ agent.http_eanbled }},
        "listen": ":{{ agent.http_listen }}",
        "backdoor": false
    },
    "collector": {
        "ifacePrefix":  [ {% for item in agent['collector_net'] %}"{{ item }}"{% if not loop.last %},{% endif %}{% endfor %}]
    },
    "ignore": {

    }
}
